<% content_for :title, "New Search Engine Result" %>

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <div class="md:flex md:items-center md:justify-between">
    <div class="flex-1 min-w-0">
      <h2 class="text-2xl font-bold leading-7 text-gray-900 dark:text-white sm:text-3xl sm:truncate">New Search Engine Result</h2>
    </div>
  </div>

  <div class="mt-8">
    <%= render "form", search_engine_result: @search_engine_result %>
  </div>
</div>

<br>

<div>
  <%= link_to "Back to search engine results", search_engine_results_path %>
</div>
