<% random_id = SecureRandom.base58(10) %>
<span id="chunk_<%= random_id %>" class="scroll-mt-48"><%= chunk %></span>

<script>
  document.querySelector("#chunk_<%= random_id %>")?.scrollIntoView({ behavior: "smooth" });
</script>