<div id="chat_panel" class="fixed right-0 top-0 h-full w-full max-w-2xl bg-gray-900 text-white border-l border-gray-700 shadow-lg overflow-y-auto z-50">
  <article class="flex flex-col h-full">
    <div class="p-4 border-b border-gray-700 font-bold text-lg sticky top-0 bg-gray-900 ">
      <span class="text-yellow-500 ml-2 mr-8 flex items-center justify-between">
        <svg id="close_chat_panel" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
        <span class="ml-4">
          SEO AI Agent
        </span>
        <span class="ml-4 hidden sm:flex hover:cursor-pointer" id="toggle_chat_panel_full_screen">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M16 3h5v5m0-5L14 10M8 21H3v-5m0 5l7-7"/>
          </svg>
        </span>
      </span>
    </div>
    <div id="chat_messages_container" class="flex flex-col h-full">
      <div id="chat_messages" class="flex flex-col-reverse flex-1 overflow-y-auto p-4 space-y-2 pt-16">
        <% Current.user.chat_messages.reverse.each do |message| %>
          <%= render "app/chat_messages/message", message: message %>
        <% end %>
      </div>
      <%= render "app/chat_messages/form" %>
    </div>
  </article>
</div>
