<div id="temp_message" class="flex items-start mb-4 border-b border-gray-700 pb-4">
  <div class="flex-shrink-0">
    <%= image_tag "https://ui-avatars.com/api/?name=assistant", class: "w-10 h-10 rounded-full" %>
  </div>
  <div class="ml-3 w-full pr-4">
    <div id="chunks_container" class="text-sm font-medium text-gray-300 break-words whitespace-normal">
    </div>
  </div>
</div>

<script>
  document.querySelector("#chunks_container")?.scrollIntoView({ behavior: "smooth" });
</script>