<div class="grid grid-cols-4 gap-4" id="domain_analysis_status">
  <% domain.analysis_status.each do |key, value| %>
    <p class="flex items-center gap-2 text-sm text-gray-400">
      <%= value ? "✅" : "❌" %>
      <%= key.humanize.split("_").map(&:capitalize).join(" ") %>
    </p>
  <% end %>
</div>
