<article data-controller="domain-infos-modal">
  <p data-action="click->domain-infos-modal#open" class="hover:cursor-pointer flex items-center gap-2 border-2 border-yellow-500/30 rounded-md p-2 hover:border-yellow-500/60 hover:bg-yellow-500/10 text-white font-semibold">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block mr-1 text-gray-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.324.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 011.37.49l1.296 2.247a1.125 1.125 0 01-.26 1.431l-1.003.827c-.293.24-.438.613-.431.992a6.759 6.759 0 010 .255c-.007.378.138.75.43.99l1.005.828c.424.35.534.954.26 1.43l-1.298 2.247a1.125 1.125 0 01-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.57 6.57 0 01-.22.128c-.331.183-.581.495-.644.869l-.213 1.28c-.09.543-.56.941-1.11.941h-2.594c-.55 0-1.02-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 01-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 01-1.369-.49l-1.297-2.247a1.125 1.125 0 01.26-1.431l1.004-.827c.292-.24.437-.613.43-.992a6.932 6.932 0 010-.255c.007-.378-.138-.75-.43-.99l-1.004-.828a1.125 1.125 0 01-.26-1.43l1.297-2.247a1.125 1.125 0 011.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.087.22-.128.332-.183.582-.495.644-.869l.214-1.281z" />
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
    </svg>
    <span class="">Domain Infos</span>
  </p>

  <div 
    id="domain-infos-modal" 
    class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-60 hidden"
    data-domain-infos-modal-target="modal"
  >
    <div class="bg-gray-900 rounded-xl shadow-2xl flex flex-col h-full w-full relative p-8">
      <button 
        type="button" 
        class="absolute top-4 right-4 text-gray-400 hover:text-red-400 transition hover:cursor-pointer"
        data-action="click->domain-infos-modal#close"
        aria-label="Close"
      >
        <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
        </svg>
      </button>
      
      <h2 class="text-xl font-bold text-gray-100 mb-4">Domain Infos</h2>

      <div class="text-gray-300 flex-grow flex flex-col overflow-y-auto">
        <div class="flex-grow">
          <%= render "app/domains/domain_infos", domain: domain %>
        </div>
      </div>
    </div>
  </div>
</article>