<article data-controller="technical-seo-modal">
  <p data-action="click->technical-seo-modal#open" class="hover:cursor-pointer flex items-center gap-2 border-2 border-yellow-500/30 rounded-md p-2 hover:border-yellow-500/60 hover:bg-yellow-500/10 text-white font-semibold">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block mr-1 text-gray-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17v-6m4 6V7m4 10v-4M5 3v18h14" />
    </svg>
    <span class="">Technical SEO Report</span>
  </p>

  <div 
    id="technical-seo-modal" 
    class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-60 hidden"
    data-technical-seo-modal-target="modal"
  >
    <div class="bg-gray-900 rounded-xl shadow-2xl flex flex-col h-full w-full relative p-8">
      <button 
        type="button" 
        class="absolute top-4 right-4 text-gray-400 hover:text-red-400 transition hover:cursor-pointer"
        data-action="click->technical-seo-modal#close"
        aria-label="Close"
      >
        <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
        </svg>
      </button>
      
      <h2 class="text-xl font-bold text-gray-100 mb-4">Technical SEO Report</h2>

      <div class="text-gray-300 flex-grow flex flex-col overflow-y-auto">
        <div class="flex-grow">
          <table class="w-full">
            <thead class="bg-[#1E293B]">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Meta Information</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Headings & Content</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Links & Images</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Technical</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Social & Indexability</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Summary</th>
              </tr>
            </thead>
            <tbody id="technical_seo_reports">
              <% domain.web_pages.includes(:technical_seo_report).each do |web_page| %>
                <%= render "app/domains/technical_seo_report", technical_seo_report: web_page.technical_seo_report if web_page.technical_seo_report.present? %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</article>